<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD84z4XAk2jIk_QpeQtiaGWzq3_x0gJ3mc</string>
	<key>GCM_SENDER_ID</key>
	<string>1084586462925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPersonalProject</string>
	<key>PROJECT_ID</key>
	<string>my-personal-project-7b26c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-personal-project-7b26c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084586462925:ios:0b80d66afebb8bd684a384</string>
</dict>
</plist>